@wasm_files { path *.wasm }
header @wasm_files Content-Type application/wasm

@data_files { path *.data *.mem *.symbols.json }
header @data_files Content-Type application/octet-stream

header {
    Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' blob: https:; connect-src 'self' blob: https:;"
    Cross-Origin-Opener-Policy "same-origin"
    Cross-Origin-Embedder-Policy "require-corp"
}